// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+3:ital@0;1&display=swap');


// Include any default variable overrides here (colors, font sizes, font family, etc..)
$primary: #A04ADD;
$secondary: #3b53c7;
$success: #a4d882;
$info: #59c1ef;
$warning: #fff689;
$danger: #e5446d;
$light: #f2f2f2;
$dark: #181853;

// Adjust nav link hover color here

$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $light;



// Typography
// Change font family for base text
$font-family-sans-serif: "Source Sans 3", sans-serif;
$headings-font-family: "Libre Baskerville", serif;

// Change font family for headings



// Change font sizes for h1-h6 using values in assignment
$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
.navbar-brand {
    font-family: 'Libre Baskerville', serif;
  }